@model Raizen.UniCad.Model.View.UsuarioClienteView
<tr id="linha-@Model.ID" class="gradeX">
    @using (Html.BeginCollectionItem("Usuario.Clientes"))
    {
        @Html.HiddenFor(item => item.IDCliente, new { @class = "IDCliente" })
        @Html.HiddenFor(item => item.RazaoSocial)
        <td style="width: 95%; word-wrap: break-word">
            @Html.PopoverTextFor(item => item.RazaoSocial, 80, "right")
        </td>
        <td style="width: 5%; word-wrap: break-word">
            @Html.BootstrapButtonDelete("", "", ButtonType.BUTTON, "raizenCoreJs.Usuario.removerCliente(" + Model.ID + ")")
        </td>
    }
</tr>