@model Raizen.Framework.Web.MVC.Models.ModalConfirm
<div class="modal" id="ModalConfirmEnviar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <h4 id="MessageConfirmEnviar">@Model.MessageConfirm</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-custom" type="button" onclick="raizenCoreJs.raizenHelpers.ExecutarFuncaoConfirmEnviarAprovacao();">@Model.MessageYes</button>
                <button class="btn btn-custom" type="button" onclick="raizenCoreJs.raizenHelpers.FecharConfirmEnviar();">@Model.MessageNot</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="confirmFunctionEnviarAprovacao" />

