<!-- NAVBAR LEFT -->
<ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
    <li class="dropdown">
        <a href="#" class="team-status-toggle dropdown-toggle tip-bottom" data-toggle="tooltip" title="Toggle Team View">
            <i class="fa fa-users"></i>
            <span class="name">Team Status</span>
            <i class="fa fa-angle-down"></i>
        </a>
    </li>
</ul>
<!-- /NAVBAR LEFT -->