[*.cs]

# Configurando a severity de todos os CRITICAL ou BLOCKER issues do Sonar como ERROR (Sonar Raizen Way)
dotnet_diagnostic.S1244.severity = error
dotnet_diagnostic.S1656.severity = error
dotnet_diagnostic.S1764.severity = error
dotnet_diagnostic.S1848.severity = error
dotnet_diagnostic.S1862.severity = error
dotnet_diagnostic.S1944.severity = error
dotnet_diagnostic.S2123.severity = error
dotnet_diagnostic.S2184.severity = error
dotnet_diagnostic.S2190.severity = error
dotnet_diagnostic.S2201.severity = error
dotnet_diagnostic.S2225.severity = error
dotnet_diagnostic.S2234.severity = error
dotnet_diagnostic.S2259.severity = error
dotnet_diagnostic.S2275.severity = error
dotnet_diagnostic.S2278.severity = error
dotnet_diagnostic.S2290.severity = error
dotnet_diagnostic.S2291.severity = error
dotnet_diagnostic.S2328.severity = error
dotnet_diagnostic.S2345.severity = error
dotnet_diagnostic.S2583.severity = error
dotnet_diagnostic.S2681.severity = error
dotnet_diagnostic.S2692.severity = error
dotnet_diagnostic.S2696.severity = error
dotnet_diagnostic.S2743.severity = error
dotnet_diagnostic.S2757.severity = error
dotnet_diagnostic.S2758.severity = error
dotnet_diagnostic.S2761.severity = error
dotnet_diagnostic.S2930.severity = error
dotnet_diagnostic.S2934.severity = error
dotnet_diagnostic.S2995.severity = error
dotnet_diagnostic.S2996.severity = error
dotnet_diagnostic.S2997.severity = error
dotnet_diagnostic.S3005.severity = error
dotnet_diagnostic.S3168.severity = error
dotnet_diagnostic.S3169.severity = error
dotnet_diagnostic.S3172.severity = error
dotnet_diagnostic.S3237.severity = error
dotnet_diagnostic.S3244.severity = error
dotnet_diagnostic.S3249.severity = error
dotnet_diagnostic.S3263.severity = error
dotnet_diagnostic.S3397.severity = error
dotnet_diagnostic.S3449.severity = error
dotnet_diagnostic.S3466.severity = error
dotnet_diagnostic.S3598.severity = error
dotnet_diagnostic.S3603.severity = error
dotnet_diagnostic.S3610.severity = error
dotnet_diagnostic.S3655.severity = error					   