@model Raizen.UniCad.Model.View.TipoDocumentoTipoVeiculoView
<tr id="linha-veiculo-@Model.ID" class="gradeX">
    @using (Html.BeginCollectionItem("TipoDocumento.TiposVeiculo"))
    {
        @Html.HiddenFor(item => item.IDTipoVeiculo, new { @class = "IDTipoVeiculo" })
        @Html.HiddenFor(item => item.Nome)
        <td style="width: 95%; word-wrap: break-word">
            @Html.PopoverTextFor(item => item.Nome, 80, "right")
        </td>
        <td style="width: 5%; word-wrap: break-word">
            @Html.BootstrapButtonDelete("", "", ButtonType.BUTTON, "raizenCoreJs.TipoDocumento.removerTipoVeiculo(" + Model.ID + ")")
        </td>
    }
</tr>