@model Raizen.UniCad.Model.View.TipoDocumentoTipoProdutoView
<tr id="linha-produto-@Model.ID" class="gradeX">
    @using (Html.BeginCollectionItem("TipoDocumento.TiposProduto"))
    {
        @Html.HiddenFor(item => item.IDTipoProduto, new { @class="IDTipoProduto"})
        @Html.HiddenFor(item => item.Nome)
        <td style="width: 95%; word-wrap: break-word">
            @Html.PopoverTextFor(item => item.Nome, 80, "right")
        </td>
        <td style="width: 5%; word-wrap: break-word">
            @Html.BootstrapButtonDelete("", "", ButtonType.BUTTON, "raizenCoreJs.TipoDocumento.removerTipoProduto(" + Model.ID + ")")
        </td>
    }
</tr>